nav {
	.navbar-start {
		column-gap: 12px;
		padding-bottom: 8px;
		margin-left: 10px;
	}

	.navbar-end {
		padding-bottom: 6px;
	}

	.navbar-item, .navbar-link {
		font-size: 26px;
		color: $grey-darker;

		&:hover {
			color: $stjoe-blue !important;
		}
	}

	a.navbar-item:hover {
		text-decoration: underline !important;
		text-underline-offset: 0.2em;
	}

	.navbar-item-selected {
		color: $stjoe-blue !important;

		/* Grade: Increase the typeface's relative weight/density */
		@supports (font-variation-settings: 'GRAD' 600) {
			font-variation-settings: 'GRAD' 600;
		}

		/* Font bold, less changes element width, moves around layout */
		@supports not (font-variation-settings: 'GRAD' 600) {
			font-weight: bold;
		}
	}

	.navbar-end hr {
		display: none;
	}

	.is-active .navbar-end {
		padding-bottom: 0;
		hr {
			display: block;
			margin: 0px 0 10px 0;
		}
	}



	.navbar-item.help {
		fill: $grey;
		margin-left: 10px;
		padding-bottom: 0;

		svg, svg:active, svg:focus, svg:hover {
			outline: none;
		}

		&:hover {
			fill: $stjoe-blue;
			cursor: pointer;
			text-decoration: none !important;
			.text {
				text-decoration: underline !important;
			}
		}

		.text {
			display: none;
			position: relative;
			bottom: 11px;
			@media (max-width: $navbar-breakpoint) {
				display: inline-block;
			}
		}
	}


	// animation
	.navbar-menu.is-active {
		animation: navAnim 0.15s ease-in;
	}

	@keyframes navAnim {
		0% {
			display: none;
			opacity: 0;
			height: 0;
		}
		1% {
			display: block;
			opacity: 0;
		}
		100% {
			opacity: 1;
			height: 600px;
		}
	}
}