@import 'bulma/sass/base/_all';
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/elements/_all';
@import 'bulma/sass/components/navbar';
@import 'bulma/sass/components/modal';
@import 'bulma/sass/components/tabs';
@import 'bulma/sass/layout/_all';
@import 'bulma/sass/helpers/typography';

@import 'maplibre-gl/dist/maplibre-gl.css';
@import '@maptiler/sdk/dist/maptiler-sdk.css';


@import './navbar.scss';
@import './kbd.scss';
@import './basemap_switcher.scss';

body {
	font-size: 1.1rem;
	color: $grey-darker;
	// .is-clipped
	overflow: hidden !important
}



.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
		Introduced in IE 10.
		See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;


  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}