@import 'bulma/sass/base/_all';
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/elements/_all';
@import 'bulma/sass/components/navbar';
@import 'bulma/sass/components/modal';
@import 'bulma/sass/layout/_all';


@import './navbar.scss';

body {
	font-size: 1.1rem;
	color: $grey-darker;
	// .is-clipped
	overflow: hidden !important
}