html {
	font-size: 100% !important;
}
blockquote {
	padding: 0.9375rem 1.25rem;
}

.stdbad {
	color: red;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
	color: inherit;
}

// choda 16px=1rem reset
[type="checkbox"],
[type="radio"] {
	width: 1rem;
	height: 1rem;
}

.pill {
	text-align: left;
	font-family: monospace;
	border-radius: 6px;
	border: 1px solid #ddd;
	background-color: var(--color-primary);
	color: #eee;
	padding: 3px;
	font-size: 0.9rem;
	position: relative;
	bottom: 2px;
}

.graph-button {
	display: inline-block;
	padding: 1.5px 0.25rem;
	/* margin-left: 0.5rem; */
	border-radius: var(--border-radius);
	background-color: #f0f0f0;
	color: #444;
	font-size: 0.8rem;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.2s;
}

.graph-buttons {
	display: none;

	white-space: nowrap;
	position: absolute;
	right: -4px;
	top: -4px;
	/* text-align: right; */

	.graph-button.y {
		border: 2px solid var(--color-chart-y);
		padding-bottom: 1px;
		padding-top: 2px;

		&:hover {
			background-color: var(--color-chart-y);
			color: white;
			text-decoration: none;
			opacity: 1;
		}
	}

	.graph-button.z {
		border: 2px solid var(--color-chart-z);
		padding-bottom: 1px;
    padding-top: 2px;
		&:hover {
			background-color: var(--color-chart-z);
			color: white;
			text-decoration: none;
			opacity: 1;
		}
	}
}


body {
	line-height: 1;
}

* {
	scrollbar-width: unset;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	border: 2px solid white;
	background-color: rgba(0, 0, 0, 0.5);
}
