.map-control {
	display: block;
	font-size: 1rem;
	font-weight: 300;
	position: relative;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	border: none;
	height: 29px;
	color: hsl(0, 0%, 21%);
	background-color: hsl(0, 0%, 100%);

	details {
		height: 100%;;
		display: block;
		border-radius: var(--border-radius);
		padding: 0;
		margin: 0;
		border: none;
		cursor: pointer;


		summary {
			display: block;
			list-style: none;

			font-weight: 300;
			box-sizing: border-box;
			border-radius: var(--border-radius);
			font-weight: 500;
			border: none;
			padding: 0;
			margin: 0;
		}

		summary::-webkit-details-marker {
			display: none;
		}


		.card {
			padding: 0;
			margin: 0;
			box-shadow: var(--box-shadow);
			border-radius: var(--border-radius);
		}

		.card > label, .card > .section-heading, .submenu > summary {
			display: block;
			padding: 6px !important;
			padding-left: 10px !important;
		}

		.submenu > summary {
			padding-top: 8px !important;
		}

		.all-button, .none-button {
			padding: 6px !important;
			padding-left: 10px !important;
			box-sizing: border-box;
		}

		.section-heading {
			font-weight: 500;
		}
	}

	details.mainmenu {
		.card {
			top: 36px;
		}

		& > summary {
			height: 100%;
		}


		.summary-flex {
			display: flex;
			padding-left: 6px;
			padding-right: 6px;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 6px;
			// border: 3px solid rgb(234, 15, 15);
			width: auto;
			height: 100%;
		}
	}

	details.submenu {
		margin: 0;
		padding: 0;
		padding-bottom: 6px;
		z-index: 1005;

		width: 100%;


		summary {
			font-weight: 500;
			padding: var(--padding);

			cursor: pointer;
			list-style: none;
		}

		.card {
			left: 120px;
			top: -40px;
		}
	}

	hr {
		margin: 0;
		padding: 0;
	}



	.dataset-buttons {
		width: 120px;
		margin: 0;
		padding: 0;
		a {
			display: inline-block;
			margin: 0;
			padding: 0;
			text-align: center;
			width: 60px;
		}

		a:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	label:hover,
	details.submenu:hover,
	.dataset-buttons a:hover {
		background-color: rgb(0 0 0/5%);
	}

	.invisible-hover-target {
		height: 60px;
		width: 100%;
		top: 0;
		right: 0;
		position: absolute;
		opacity: 0;
	}
}
