.map-control {
	display: block;
	font-weight: 300;
	position: relative;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	border: none;
	height: 33px;
	color: hsl(0, 0%, 21%);
	background-color: hsl(0, 0%, 100%);

	--padding: 0.75rem;

	details {
		display: block;
		border-radius: var(--border-radius);
		padding: 0;
		margin: 0;
		border: none;

		summary {
			display: block;
			list-style: none;

			height: 33px;
			font-size: 0.9rem;
			font-weight: 300;
			box-sizing: border-box;
			border-radius: var(--border-radius);
			font-weight: 500;
			// padding: 0.75rem 2rem 1rem 2rem;
			border: none;
			padding: 0;
			margin: 0;
		}

		summary::-webkit-details-marker {
			display: none;
		}

		summary.small {
			padding-right: 1rem;
		}

		.card {
			box-shadow: var(--box-shadow);
			border-radius: var(--border-radius);
			padding-bottom: 16px;
		}

		.card > label {
			display: block;
			padding: var(--padding);
		}
	}

	details.mainmenu > .card {
		margin-top: 4px;
	}

	details.submenu {
		margin: 0;
		padding: 0;
		padding-bottom: 6px;
		z-index: 1005;

		width: 100%;
		padding-bottom: 12px;


		summary {
			font-weight: 500;
			padding: var(--padding);
			padding-left: 2rem;
			padding-bottom: 0.5rem;
			cursor: pointer;
			list-style: none;
		}

		.card {
			position: absolute;
			left: 140px;
			top: -20px;
		}
	}

	hr {
		margin: 0;
		padding: 0;
	}

	.section-heading {
		padding-left: 2rem;
		margin-top: 0.5rem;
		font-weight: 500;
		display: inline-block;
	}

	.dataset-buttons {
		width: 120px;
		margin: 0;
		padding: 0;
		a {
			display: inline-block;
			margin: 0;
			padding: 0;
			padding-top: 1rem;
			padding-bottom: 1rem;

			text-align: center;
			width: 60px;
		}

		a:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	label:hover,
	details.submenu:hover,
	.dataset-buttons a:hover {
		background-color: rgb(0 0 0/5%);
	}


	.invisible-hover-target {
		height: 60px;
		width: 100%;
		top: 0;
		right: 0;
		position: absolute;
		opacity: 0;
	}
}
