/* fancy slider */
input.time-slider-range {
	--c: #18a0d1; /* active color */
	--l: 4px; /* line thickness*/
	--h: 30px; /* thumb height */
	--w: 5px; /* thumb width */

	/* width: 400px; */
	height: var(--h); /* needed for Firefox*/
	--_c: color-mix(in srgb, var(--c), #000 var(--p, 0%));
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	cursor: pointer;
	overflow: hidden;
}
input.time-slider-range:focus-visible,
input.time-slider-range:hover {
	--p: 0%;
}

/* chromium */
input.time-slider-range[type='range' i]::-webkit-slider-thumb {
	z-index: 10001;

	height: var(--h);
	width: var(--w);
	background: var(--_c);
	border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 / calc(50% - var(--l) / 2)
		100vw/0 100vw;
	-webkit-appearance: none;
	appearance: none;
	transition: 0.3s;
}
/* Firefox */
input.time-slider-range[type='range']::-moz-range-thumb {
	z-index: 10001;
	height: var(--h);
	width: var(--w);
	background: var(--_c);
	border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 / calc(50% - var(--l) / 2)
		100vw/0 100vw;
	-webkit-appearance: none;
	appearance: none;
	transition: 0.3s;
}
@supports not (color: color-mix(in srgb, red, red)) {
	input {
		--_c: var(--c);
	}
}