:root {
	--stjoe-green: rgb(61,156,119);
	--stjoe-blue: rgb(61,156,190);

	--color-primary: var(--stjoe-blue);

	--toastPadding: 0.5rem;
	--toastWidth: 20rem;

	--box-shadow: 0 0 6px 1px #00000014;
	--border-radius: 3px;


	// chota resets
	--font-size: 1rem;
	--grid-maxWidth: 75rem;
	--grid-gutter: 1.25rem;
}
