:root {
	--stjoe-green: rgb(61,156,119);
	--stjoe-blue: rgb(61,156,190);

	--color-primary: var(--stjoe-blue);
	--color-hover: rgb(0 0 0/5%);
	--color-map-hover-highlight: #7bc00b;

	--toastPadding: 0.5rem;
	--toastWidth: 20rem;

	--headerHeight: 42px;

	--box-shadow: 0 0 6px 1px #00000014;
	--border-radius: 3px;

	--font-family-sans: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


	// data colors
	--color-data-1: #CC79A7; // redish purla okabe and kei
	--color-data-2: #E69F00;

	// chart colors
	--color-chart-y: #A228B1;
	--color-chart-z: #3d9cbe;
	// --color-chart-z-darker: #368eae;


	// chota resets
	--font-size: 1rem;
	--grid-maxWidth: 75rem;
	--grid-gutter: 1.25rem;
}
