:root {
	--stjoe-green: rgb(61,156,119);
	--stjoe-blue: rgb(61,156,190);

	--color-primary: var(--stjoe-blue);
	--color-hover: rgb(0 0 0/5%);

	--toastPadding: 0.5rem;
	--toastWidth: 20rem;

	--box-shadow: 0 0 6px 1px #00000014;
	--border-radius: 3px;

	--font-family-sans: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


	// chart colors
	--color-chart-y: #ab00d6;
	--color-chart-z: #00d6ab;
	--color-chart-z-darker: #00af8c;


	// chota resets
	--font-size: 1rem;
	--grid-maxWidth: 75rem;
	--grid-gutter: 1.25rem;
}
