@import "~materialize-css/sass/materialize";
@import "./font-material-icons.scss";


body { margin:0; padding:0; }

input, text, .numeric {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.error-text {
  user-select: all;
}

#map {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  // font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #323232;

  path[fill-opacity='0'] {
    pointer-events: none !important;
  }
}

.label {
  text-align: center;
  margin-top: -1em;

  size: 12px;
  line-height: 12px;
  font-family: "Noto Sans";
  font-style: italic;
}

.label div {
  position: relative;
  left: -50%;
  top: 20px;
  width: 500px;
  text-shadow: 0px 2px 1px rgba(255,255,255,0.85);
}

.btn[active] {
  @extend .purple, .darken-1;
}

#toolbar-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  justify-content: center;
}

#toolbar {
  flex-grow: 0;
  // border: 2px solid rgba(0,0,0,0.2);
  z-index: 10002;
  background: rgba(255, 255, 255, 1);

  padding: 0.5rem;
  padding-top: 7px;
  margin-top: 10px;

  user-select: none;

  #status {
    font-weight: 600;
    margin-left: 6px;
    padding-left: 6px;
    border-left: 2px solid #004d40;

    .text {
      user-select: text;
      vertical-align: text-top;
    }
  }

  .selected-actions {
    display: none;
    &[show] {
      display: inline;
    }
  }

  .material-icons {
    font-size: 1.5rem;
    vertical-align: middle;
    // border-right: 1px solid gray;
    border-radius: 4px;
    padding: 3px 3px;


    &:hover {
      @extend .purple, .accent-3;
      color: #fff;

      cursor: pointer;
    }

    &[active] {
      @extend .purple, .darken-2;
      color: #fff;
    }

    &[active]:hover {
      background-color: #ea80fc !important;
    }

    &.timeline-hint {

      // color: grey;
      @extend .purple-text, .text-lighten-3;

      margin-left: -6px;
      margin-right: -6px;

      &:hover {
        background-color: white !important;

      }
    }
  }
}

.ui-layout {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 10000;
  display: flex;
  flex-direction: column;

  pointer-events: none;
  river-table, river-data-select, river-timeseries {
    pointer-events: auto;
  }

  .ui-top {
    flex-grow: 1;
    width: 464px;

    river-table {
      height: 100%;
    }

  }

  .ui-bottom {
    flex-grow: 0;
    display: flex;

    .ui-bottom-left {
      flex-grow: 0;
      padding-top: 4px;
      padding-right: 4px;

    }

    .ui-bottom-right {
      flex-grow: 1;
      padding-top: 4px;
    }

  }
}

#data-select {
  // width: 464px;
  // height: 292px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin: 0;
  padding: 1.5rem;

  background: rgba(255,255,255,0.9);

  h5 {
    text-align: center;
  }

  .btn {
    margin: 0 2px;
  }

  .input-field.inline {
    // margin-top: 6px;
    margin-bottom: 6px;
  }

  river-data-select-series {
    margin-bottom: 2rem;
  }
}


#table {
  margin: 0;
  overflow-x: auto;
  overflow-y: auto;

  background: rgba(255,255,255,0.9);


  z-index: 10000;

  padding: 1.5rem;

  #site-summary {
    font-size: 0.8rem;

    td:first-child {
      width: 140px;
      font-weight: 400;
    }

    td.count {
      width: 5rem;
    }
  }

  th {
    padding-bottom: 5px;
  }
  td {
    padding: 5px;
  }

  td:first-child {
    width: 160px;
    font-weight: 400;
  }
}

#timeseries {
  margin: 0;

  background: rgba(255,255,255,0.9);
  z-index: 10000;
  // padding: 1rem;

  overflow: hidden;

  // sorry plotly.js
  .plotlyjsicon, a[data-val='lasso'], a[data-val='select']  {
    display: none;
  }

  .help {
    padding: 1rem;
    text-align: center;
    .material-icons {
      vertical-align: text-bottom;
    }
  }

  div[hide] {
    display: none;
  }
}

#legend {
  width: 300px;

  g {
    pointer-events: bounding-box;
  }

  g:focus {
    outline: none;
  }

  h6 {
    margin: 0;
    text-align: center;
    font-weight: 600;
  }

  h6.datainfo-color-label {
    margin-bottom: 12px;
  }
}


.legend text.title {
  font-size: 18px;
  margin-bottom: 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.data-selector {
  margin-top: 1rem;
  display: none;
  flex-wrap: wrap;
  height: 80px;
  align-content: center;
}

#physical-selector {
  display: flex;
}

.datepicker {
  width: 130px !important;
  margin-left: 0rem !important;
  margin-right: 1rem !important;
  padding-left: 4px !important;

  height: 2rem !important;

  &:focus {
    border-bottom: 1px solid #0d47a1 !important;
    box-shadow: 0 1px 0 0 #0d47a1 !important;
  }
}

.hint {
  @extend .grey-text,.darken-3;
}

.datepicker-icon {
  display: none;
  position: relative;
  opacity: 0.6;
  width: 0;
  left: -28px;
  top: 6px;
}

.air-datepicker-global-container {
  z-index:10001;

  nav {
    @extend .blue, .darken-4;

    i {
      color: white;
    }

    path {
      stroke: white;
    }

    .air-datepicker-nav--action, .air-datepicker-nav--title {
      &:hover {
        @extend .indigo, .lighten-1;
      }
    }

    width: 239px;
  }
}

#modal-loading {
  h5 {
    margin-top: 3rem;
  }
  z-index: 10001 !important;
}

.dropdown-content {
  z-index: 10001;
}



#ree {background-color: red;}