body { margin:0; padding:0; }
#map {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #323232;
}

.label {
  text-align: center;
  margin-top: -1em;

  size: 12px;
  line-height: 12px;
  font-family: "Noto Sans";
  font-style: italic;
}

.label div {
  position: relative;
  left: -50%;
  top: 20px;
  width: 500px;
  text-shadow: 0px 2px 1px rgba(255,255,255,0.85);
}

.btn.active {
  /* background-color: #6a1b9a; */
  background-color: red;
}

#ui {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  position: absolute;
  bottom: 12px;
  left: 12px;
  z-index: 10000;
  padding: 1.5rem;

  background: rgba(255,255,255,0.9);
}

#ui h5 {
  text-align: center;
}

#filters {
  display: block;
}

#filters .btn {
  margin: 0 2px;
}

#dataview {
  display: none;

  background-color: aquamarine;
}

#legendviz {
  margin-top: 32px;
  margin-bottom: 8px;
}


.legend text.title {
  font-size: 18px;
  margin-bottom: 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.data-selector {
  margin-top: 1rem;
  display: none;
  flex-wrap: wrap;
  height: 80px;
  align-content: center;
}

#physical-selector {
  display: flex;
}

#ree {background-color: red;}